// Specific CSS for your home-page
#map {
        width: 50%;
        height: 400px;
        background-color: grey;

      }


.container-index{
  width : 100vw;
  height : 100vh;
  background-color : yellow;
  overflow : hidden;
  display : flex;
  flex-direction : column;

  .search{
    width : 100vw;
    height : 20%;
    background-color : grey;
  }

  .filters{
    width : 100vw;
    height : 20%;
    background-color : red;
  }

  .listing{
    width : 100vw;
    background-color : pink;
    overflow : scroll;
    flex-grow : 1;
  }

}
